		<div id="bottom-section" class="ui vertical segment">
			<div class="ui center align container">
				<div class="ui horizontal link list">
					<a class="item" href="#">About</a>
					<a class="item" href="#">Contact</a>
					<a class="item" href="#">FAQ</a>
				</div>
				<div class="mid-align pad-top" style="color: #fff">&copy Copyright 2017 Connecthedots</div>
			</div>
		</div>		
	</body>
</html>