<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lato|Limelight" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../stylesheets/index.css">
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<title></title>
</head>
<body>
	<div id="nav-bar" class="ui large secondary stackable menu">
		<div class="header item">
			<a href="/" id="link"><i class="leaf icon"></i>THE PIG'S KRAUT</a>
		</div>
		<a id="menu-link" class="item" href="/shop">Shop</a>
		<a id="menu-link" class="item" href="/about">About</a>
		<a id="menu-link" class="item" href="/contact">Contact</a>
		<div class="right menu">
			<% if (!user){ %>
			<a id="menu-link" class="item" href="/user/signup">Sign Up</a>				
			<a id="menu-link" class="item" href="/user/login">Log in</a>
			<% } else { %>
			<a id="menu-link" class="item" href="/user/logout">Log Out</a>	
			<a id="menu-link" class="item" href="/user/profile">My Dashboard</a>	
			<% } %>			
			<a id="menu-link" class="item" href="/shop/cart">Cart
				<div class="ui teal circular label">
					<% if (!session.cart){ %>
						0
					<% } else {%>
						<%= session.cart.totalQty %>
					<% } %>
				</div>
			</a>
		</div>
	</div>