<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<!-- 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../../stylesheets/index.css">
	<title></title>
</head>
<body>
	<div class="container">
		<div class="ui large stackable menu">
			<div class="header item">
				<a href="/"><i class="leaf icon"></i>THE PIG'S KRAUT</a>
			</div>
			<a class="item" href="/shop">Shop</a>
			<a class="item" href="/about">About</a>
			<a class="item" href="/contact">Contact</a>
			<div class="right menu">
				<a class="item" href="#">Log in</a>
				<a class="item" href="/user/signup">Sign Up</a>
				<a class="item" href="#">Cart</a>
			</div>
		</div>		
	</div>
