<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<!-- 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css"> -->
	<link rel="stylesheet" type="text/css" href="../../stylesheets/index.css">
	<title></title>
</head>
<body>
	<div class="ui large stackable menu">
		<div class="header item">
			<p><i class="leaf icon"></i>THE PIG'S KRAUT</p>
		</div>
		<a class="item" href="/shop">Shop</a>
		<a class="item" href="/about">About</a>
		<a class="item" href="/contact">Contact</a>
	</div>