<% include partials/top %>
	<div id="top-section" class="ui container">
		<div>
			<h1>You've found the root page</h1>
			<p>Here there be cabbages</p>
			<img src="assets/kraut0.png">		
		</div>
	</div>
	<div id="mid-section" class="ui main container">
	<div class="ui horizontal divider">
		<div class="ui stackable grid">
			<div class="center aligned row">
				<div class="five wide column">
					<img class="ui medium circular image" src="assets/kraut2.png">	
				</div>
				<div class="five wide column">Two</div>
				<div class="five wide column">Three</div>
			</div>			
		</div>
	</div>
	</div>	
	<div id="bottom-section" class="ui vertical segment">
		<div class="ui center align container">
			<div class="ui horizontal link list">
				<a class="item" href="#">About</a>
				<a class="item" href="#">Contact</a>
				<a class="item" href="#">FAQ</a>
			</div>
		</div>
	</div>
</div>

<% include partials/bottom %>