<% include partials/top %>
	<div id="top-section">
		<div class="main-content" class="pad-bottom">
			<div id="right-content">
				<div id="right-content-box">
					<div>healthy. </div>
					<div>hearty.</div>
					<div>delicious.</div>
					<div>kraut.</div>					
				</div>
			</div>
			<div id="left-content">				
				<div id="logo-image">
					<img src="/assets/logo1.svg">
				</div>
				<div id="left-content-box">
					<div class="content">Our freshly made sauerkraut delivered to your home</div>
					<!-- <div class="content">Share with friends and family</div> -->
					<div><a href="/shop" class="ui massive teal button">SHOP NOW</a></div>
				</div>
			</div>
		</div>

	</div>
	<div id="mid-section" >
		<h2>Learn about how we responsibly source and produce our sauerkraut.</h2>
		<div class="third-block">
			<div class="circle">
				<img src="assets/splash/redkraut1.jpg">	
			</div>
			<div class="small-content">One</div>	
		</div>
		<div class="third-block">
			<div class="circle">
				<img src="assets/splash/kraut1.jpg">	
			</div>
			<div class="small-content">Two</div>
		</div>
		<div class="third-block">
			<div class="circle">
				<img src="assets/splash/krautonboard1.jpg">	
			</div>
			<div class="small-content">This is where a lot of text content will go. This is where a lot of text content will go. </div>	
		</div>				
	</div>
	<div id="email">
		Get updates on The Pig's Kraut! Join our membership club
		<form class="ui form">
			<input type="email" name="subscribeEmail" placeholder="yourname@email.com">
		</form>
	</div>

<% include partials/bottom %>