<%- include ../partials/top %>
<div class= "ui main left aligned container segment">
	<div class="ui huge header">Make a new account</div>
	<div class="ui form">
		<form action="/user/signup" method="POST">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<div class="field">
			<label>Name</label>
			<div class="two fields">
			  <div class="field">
			    <input type="text" name="user[firstName]" placeholder="First Name">
			  </div>
			  <div class="field">
			    <input type="text" name="user[lastName]" placeholder="Last Name">
			  </div>
			</div>
			</div>
			<div class="field">
				<label for="email">Email</label>
				<input type="email" name="user[email]" placeholder="Enter your email address">				
			</div>
			<div class="field">
				<label for="password">Password</label>
				<input type="password" name="password" placeholder="Choose a password">				
			</div>
			<button class="ui huge green button" type="submit">Sign Up</button>
		</form>
	</div>
</div>
<%- include ../partials/bottom %>