<%- include ../partials/top %>
<div class="ui container pad-top">
	<div class="ui centered grid">
		<h4 class="ui dividing header">Your order has been processed!</h4>
		<ul>
			Order Information
			<li class="ui header order-list">Items Ordered: <%= order.totalQty %></li>
			<li class="ui header order-list">Order total: $ <%= order.totalPrice.toFixed(2) %></li>
			<li class="order-list">Description</li>
		</ul>
		<div>
			<a href="/shop" class="ui green button">Continue shopping</a>
		</div>		
	</div>
</div>
<%- include ../partials/bottom %>