<%- include ../partials/top %>
<div class="ui container center aligned">
	<div>
		<h1 class="head">This is where the sauerkraut products will be</h1>		
	</div>

	<div>
		<div class="ui stackable three column grid">
		  	<div class="column">
			    <div class="ui card">
			    	<div class="content">
			    		<a class="header" href="#">
			    			Red Cabbage
			    		</a>
			    	</div>
			    	<!-- Image -->
			      	<img class="ui fluid image" src="assets/redkraut.jpg">
			      	<!-- Bottom -->
		      		<div class="extra content">
				      	<div class="meta">
				      		Some description goes here
				      	</div>
						<div class="ui left labeled right floated button" tabindex="0">
				  			<p class="ui basic label">$9.95</p>
				  			<a id="shopbutton" class="ui small green button" href="#">Add to cart</a>
						</div>		      	
		      		</div>
			    </div>
		  	</div>
		  	<div class="column">
			    <div class="ui card">
			    	<div class="content">
			    		<a class="header" href="#">
			    			Savoy Cabbage
			    		</a>
			    	</div>
			    	<!-- Image -->
			      	<img class="ui fluid image" src="assets/savoykraut1.jpg">
			      	<!-- Bottom -->
		      		<div class="extra content">
				      	<div class="meta">
				      		Some description goes here
				      	</div>
						<div class="ui left labeled right floated button" tabindex="0">
				  			<p class="ui basic label">$8.95</p>
				  			<a id="shopbutton" class="ui small green button" href="#">Add to cart</a>
						</div>		      	
		      		</div>
			    </div>
		  	</div>
		  	<div class="column">
			    <div class="ui card">
			    	<div class="content">
			    		<a class="header" href="#">
			    			Green Cabbage
			    		</a>
			    	</div>
			    	<!-- Image -->
			      	<img class="ui fluid image" src="assets/greenkraut.jpg">
			      	<!-- Bottom -->
		      		<div class="extra content">
				      	<div class="meta">
				      		Some description goes here
				      	</div>
						<div class="ui left labeled right floated button" tabindex="0">
				  			<p class="ui basic label">$6.95</p>
				  			<a id="shopbutton" class="ui small green button" href="#">Add to cart</a>
						</div>		      	
		      		</div>
			    </div>
		  	</div>
		  	<div class="column">
			    <div class="ui card">
			    	<div class="content">
			    		<a class="header" href="#">
			    			Cabbage
			    		</a>
			    	</div>
			    	<!-- Image -->
			      	<img class="ui fluid image" src="assets/kraut1.jpg">
			      	<!-- Bottom -->
		      		<div class="extra content">
				      	<div class="meta">
				      		Some description goes here
				      	</div>
						<div class="ui left labeled right floated button" tabindex="0">
				  			<p class="ui basic label">$6.95</p>
				  			<a id="shopbutton" class="ui small green button" href="#">Add to cart</a>
						</div>		      	
		      		</div>
			    </div>
		  	</div>		  		
		</div>		
	</div>
</div>

<%- include ../partials/bottom %>